<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Raccoon Place</title>
</head>
<body>
    <header>
        <div id="brand"><a href="/">Raccoon.Place</a></div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/getData">Get All Raccoons</a></li>
            <li><a href="https://github.com/fullStackRacc/raccoon-place">Source</a></li>
            <li><a href="https://twitter.com/fullStackRacc">Twitter</a></li>
          </ul>
        </nav>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
            <ul class="mobile-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/getData">Get All Raccoons</a></li>
                <li><a href="https://github.com/fullStackRacc/raccoon-place">Source</a></li>
                <li><a href="https://twitter.com/fullStackRacc">Twitter</a></li>
              </ul>
        </div>
      </header>
        <h1>Hello This is Raccoon Place</h1>
        <img src="<%= raccoons.img %>" alt="<%= raccoons.alt %>">
        <p>Hi! Welcome to the Raccoon.Place API. There are raccoons here! If you want to put raccoons on your own page, you can get the entire collection here: <code>http://raccoon.place/getData</code></p>
        <p>I currently have made it to show a random raccoon from the collection, let me know your favorite :0</p>
    </section>

    <script src="js/main.js"></script>
</body>
</html>