<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Raccoon Place</title>
</head>
<body>
    <section>
        <h1>Hello This is Raccoon Place</h1>
        <img src="<%= raccoons.img %>" alt="<%= raccoons.alt %>">
        <p>Hi! Welcome to the Raccoon.Place API. There are raccoons here! If you want to put raccoons on your own page, you can get the entire collection here: <code>http://raccoon.place/getData</code></p>
        <p>I currently have made it to show a random raccoon from the collection, let me know your favorite :0</p>
    </section>

    <script src="js/main.js"></script>
</body>
</html>