/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #121212;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  
  header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    background-color: #1d1f1d;
    height: 50px;
    display: flex;
    justify-content: space-between;
  }
  
  #brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  #brand a {
    color: #ec468b;
  }
  
  ul {
    list-style: none;
    background: #1d1f1d;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: white;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
 
  img {
    width: 40%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h1, p, code {
    text-align: center;
    margin: 0 auto;
    width: 60%;
    padding: 15px 0;
  }

  @media only screen and (min-width: 1024px) {
    section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 80%;
      padding: 5px;
      padding-top: 5px;
      background: rgba(255, 255, 255, .06);
      border-radius: 25px;
      box-shadow: 10px 15px 10px #ec468b;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  

    img {
      width: 50%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
    }
  
    h1, p, code {
      text-align: center;
      margin: 0 auto;
      width: 60%;
      padding: 15px 0;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 1023px) {
    section {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
      height: 80%;
      padding: 5px;
      padding-top: 5px;
      background: rgba(255, 255, 255, .06);
      border-radius: 25px;
      box-shadow: 10px 15px 10px #ec468b;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  

    img {
      width: 35%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
    h1, p, code {
      text-align: center;
      margin: 0 auto;
      width: 60%;
      padding: 15px 0;
    }
  }

  @media only screen and (max-width: 600px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }


    img {
      width: 75%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    h1, p, code {
      text-align: center;
    }

    p {
      padding-top: 10px;
    }
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/


