/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  body {
    background: #121212;
    color: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  section {
    width: 25vw;
  }

  img {
    width: 25vw;
    height: auto;
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  